<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>University Website Design</title>
    <link rel="stylesheet" href="styles/style.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <link rel="preconnect" href="https://fonts.gstatic.com">
    
        <link  href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,800&family=Roboto:wght@100;300;400&display=swap" rel="stylesheet">
        
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.4.2/css/fontawesome.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    <section class="Sub-header">
        <nav>
            <a href="index.html"></a>
            <div class = "nav-links" id="navLinks">
                <ul>
                    <li><a href="/index">Home</a></li>
                    <li><a href="/course">Courses</a></li>
                    <li><a href="/blog">blog</a></li>
                    <li><a href="/contact">Contact</a></li>
                    
                    <li><a href="/signup">Login</a></li>
    
                </ul>


            </div>
            
        </nav>
        <h1>Contact us</h1>
    </section>
    
    <section class="location">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d234447.15550777942!2d85.15650966037293!3d23.343433819903805!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x39f4e104aa5db7dd%3A0xdc09d49d6899f43e!2sRanchi%2C%20Jharkhand!5e0!3m2!1sen!2sin!4v1713333719773!5m2!1sen!2sin" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>

        </section>  
        <section class="contact-us">
            <div class="row">
                <div class="contact-col">
                    <div>
                        <i class="fa fa-home"></i>
                        <span>
                            <h5>XYZ Road, ABC Building</h5>
                            <p>Bangalore, Karnataka</p>
                        </span>
                        </div>
                        <div>
                        <i class="fa fa-phone"></i>
                        <span>
                            <h5>+1 0123456789</h5>
                            <p>Monday to Saturday , 10AM to 6PM</p>
                        </span>
                        </div>
                        <div>
                        <i class="fa fa-envelope o"></i>
                        <span>
                            <h5>unidost12@gmail.com</h5>
                            <p>Our official email id</p>
                        </span>
                        </div>
                        </div>
                        <div class="contact-col">

                            <form action="formhandler.php" method="post">
                                
                                    <input type="text" name= "name" placeholder="Enter your name" required>
                                    <input type="email" name = "email" placeholder="Enter your email address" required>
                                    <input type="text" name="subject" placeholder="Enter your subject" required>
                                    <textarea rows="8" name="message" placeholder="Message" required></textarea>
                                    
                                    <button type="submit" class="hero-btn red-btn">Send Message</button>

                                </form>
                                </div>
                                </div>
                          

       

        </section>
   
            
<!-- 
            footer -->
            <section class="footer">
                <h4>About Us</h4>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Incidunt sunt suscipit nesciunt ipsum beatae blanditiis ea id ducimus quaerat assumenda obcaecati sequi, asperiores<br> nihil debitis vero labore earum voluptates deserunt!</p>
                <div class="icons">

                    <a href=""><i style="font-size:24px" class="fa">&#xf082;</i></a>
                    <a href=""><i style="font-size:24px" class="fa">&#xf08c;</i></a>
                    <a href=""><i style="font-size:24px" class="fa">&#xf2c6;</i></a>
                    <a href=""><i style="font-size:24px" class="fa">&#xf081;</i></a>
                    <a href=""><i style="font-size:24px" class="fa">&#xf16a;</i></a>
                    <a href=""><i style="font-size:24px" class="fa">&#xf232;</i></a>
                    
                </div>
            
            </section>
            <!-- ---JAVASCRIPT FOR TOGGEL MENU---- -->
            <script>
                var navLinks = document.getElementById("navLinks");
        
                function showMenu() {
                    navLinks.style.right = "0"; // Move the menu to the right to show it
                }
        
                function hideMenu() {
                    navLinks.style.right = "-200%"; // Move the menu to the left to hide it
                }
            </script>
        
        


    

    
</body>
</html>