<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>University Website Design</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <link rel="preconnect" href="https://fonts.gstatic.com">
    
    <link  href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,800&family=Roboto:wght@100;300;400&display=swap" rel="stylesheet">
    
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.4.2/css/fontawesome.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="styles/style.css">

</head>
<body background-color="">
    <section class="header">
        <nav>
            <a href="index.html"><img src="https://cdn.dribbble.com/userupload/12939963/file/original-3ef18a000724770d3bc0a59583cfbffc.png?resize=400x0" alt=""></a>
            <h1></h1>
            <div class = "nav-links" id="navLinks">
           
                <ul>
                    <li><a href="/">Home</a></li>
                    <li><a href="/course">Courses</a></li>
                    <li><a href="/blog">blog</a></li>
                    <li><a href="/contact">Contact</a></li>
                   
                    <li><a href="/signup">Sign-Up</a></li>
    
                </ul>


            </div>
            
        </nav>

        <div class="text-box">
        <h1>UNI-DOST</h1>
        <p><h3>Welcome to your UNIDOST , I will help you out regarding any academic issue.</h3>
            <h3>I hope you will enjoy my website.</h3>
        </p>
        <a href="" class="hero-btn">Visit Us To Know More</a>
    </div>




    </section>
    <!-- --course-- -->
    <section class="course">
        <h2>Courses We offer</h2>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Inventore suscipit dolorem quidem eum illum, non iste quis, quo sapiente officia distinctio debitis, architecto consequatur voluptas fugit cumque aut accusantium ad.</p>
        <div class="row">
            <div class="course-col">
            <h2>Itermediate</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Amet iusto ipsam ea quam. Ipsa placeat, enim eaque blanditiis in sed facilis suscipit debitis ipsum, necessitatibus sit expedita dolore sequi neque!
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quisquam, quasi.
            </p>
        </div>
        <div class="course-col">
            <h2>Degree</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Amet iusto ipsam ea quam. Ipsa placeat, enim eaque blanditiis in sed facilis suscipit debitis ipsum, necessitatibus sit expedita dolore sequi neque!
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quisquam, quasi.
            </p>
            </div>
            <div class="course-col">
                <h2>Post Graduation</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Amet iusto ipsam ea quam. Ipsa placeat, enim eaque blanditiis in sed facilis suscipit debitis ipsum, necessitatibus sit expedita dolore sequi neque!
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quisquam, quasi.
                </p>
                </div>
                </div>


    </section>
    <!-- --campus-- -->
    <section class="campus">
        <h1>Our Global Campus</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, quasi. Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, quasi. Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, quasi. Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, quasi. Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, quasi. Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, quasi
            </p>
            <div class="row">
                <div class="campus-col">
                    <img src="https://images.unsplash.com/photo-1554469384-e58fac16e23a?q=80&w=1000&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8M3x8YnVpbGRpbmd8ZW58MHx8MHx8fDA%3D" alt="">
                    <div class="layer">
                        <h3>LONDON</h3>
                    </div>
                </div>
                <div class="campus-col">
                    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/1/10/Empire_State_Building_%28aerial_view%29.jpg/640px-Empire_State_Building_%28aerial_view%29.jpg" alt="">
                    <div class="layer">
                        <h3>WASHINGTON</h3>
                    </div>
                </div>
                <div class="campus-col">
                    <img src="https://images.adsttc.com/media/images/649c/35f8/5921/186b/f076/0674/medium_jpg/coeru-shibuya-offices-and-commercial-building-maeda-corporation_11.jpg?1687959062" alt="">
                    <div class="layer">
                        <h3>NEW YORK</h3>
                    </div>
                </div>
            </section>
            <!-- --Facilities-- -->
            <section class="facilities">
                <h1>Our Facilities</h1>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Doloribus, commodi atque maxime autem nulla harum perferendis repellendus aspernatur laudantium rem repudiandae eius, ratione iusto illo accusamus nobis similique quaerat odit?</p>
                <div class="row">
                    <div class="facilities-col">
                    <img src="https://i0.wp.com/cms.babbel.news/wp-content/uploads/2022/01/Most_Beautiful_Libraries.png" alt="da">
                    <h3>World class Library</h3>
                    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Blanditiis eius a soluta ipsa tempore eligendi omnis quis quisquam expedita ducimus quibusdam porro fugiat, assumenda quaerat eveniet adipisci alias vitae necessitatibus.</p>
                    </div>
                
                <div class="facilities-col">
                    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT4hSe9slUBcq-SJT3yhl6JuKJ7LszW6m38PyUdXOCzBg&s" alt="da">
                    <h3>Play Ground</h3>
                    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Blanditiis eius a soluta ipsa tempore eligendi omnis quis quisquam expedita ducimus quibusdam porro fugiat, assumenda quaerat eveniet adipisci alias vitae necessitatibus.</p>
                    </div>
                    
                
                <div class="facilities-col">
                    <img src="https://media.istockphoto.com/id/1307457271/photo/cheerful-group-of-college-students-having-fun-on-lunch-break-in-cafeteria.jpg?s=612x612&w=0&k=20&c=qcNsYdmfE41O3N6p1OenQX_7MLqauEjI0HVhpLLcgM0=" alt="da">
                    <h3>Tasty and healthy Food</h3>
                    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Blanditiis eius a soluta ipsa tempore eligendi omnis quis quisquam expedita ducimus quibusdam porro fugiat, assumenda quaerat eveniet adipisci alias vitae necessitatibus.</p>
                    </div>
                    </div>
            </section>


            <!-- testimonials -->
            <section class="testimonials">
                <h1>What our Students Says</h1>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius blanditiis accusamus porro delectus laudantium aspernatur, possimus voluptatem assumenda quibusdam atque. Iste repellat ut ipsa sunt, nisi facere dignissimos accusantium pariatur.</p>
                <div class="row">
                    <div class="testimonials-col">
                        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQPodwSjN_r4z1TTj1q-y-4OKaSXSbvFWBm8gNO9bcKqw&s" alt="da">
                        <div>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Id, itaque modi quod tempore, voluptates optio ea numquam at vero possimus soluta officiis, minus voluptatibus. Id et architecto assumenda delectus ad.

                            </p>
                            <h3>Nancy</h3>
                            <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />
                        </div>
                        
                    </div>
                    
                    <div class="testimonials-col">
                        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRERyGHJEtdAeuOZVc0RGRhZ8gxRT8ZJ99W1LSZY34WXQ&s" alt="da">
                        <div>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Id, itaque modi quod tempore, voluptates optio ea numquam at vero possimus soluta officiis, minus voluptatibus. Id et architecto assumenda delectus ad.

                            </p>
                            <h3>Shiv</h3>
                        </div>
                    </div>
                </div>



            </section>

            <!-- call to action -->
            <section class="cta">
                <p>
                <h2>Enroll fro Our Varoius Online courses<br>Anywhere from the world</h2></p>
                <a href="" class="hero-btn">CONTACT US</a>


            </section>
<!-- 
            footer -->
            <section class="footer">
                <h4>About Us</h4>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Incidunt sunt suscipit nesciunt ipsum beatae blanditiis ea id ducimus quaerat assumenda obcaecati sequi, asperiores<br> nihil debitis vero labore earum voluptates deserunt!</p>
                <div class="icons">

                    <a href=""><i style="font-size:24px" class="fa">&#xf082;</i></a>
                    <a href=""><i style="font-size:24px" class="fa">&#xf08c;</i></a>
                    <a href=""><i style="font-size:24px" class="fa">&#xf2c6;</i></a>
                    <a href=""><i style="font-size:24px" class="fa">&#xf081;</i></a>
                    <a href=""><i style="font-size:24px" class="fa">&#xf16a;</i></a>
                    <a href=""><i style="font-size:24px" class="fa">&#xf232;</i></a>
                    

                </div>
            
            </section>


    <script>
        var navLinks = document.getElementById("navLinks");

        function showMenu() {
            navLinks.style.right = "0"; // Move the menu to the right to show it
        }

        function hideMenu() {
            navLinks.style.right = "-200%"; // Move the menu to the left to hide it
        }
    </script>


    
</body>
</html>